body{
    background: url('darkwood_background.jpg');
}
.preço{
    color: rgb(243, 243, 186);
    font-size: 18px;
    font-style: italic;
}
.pizza{
    color: yellow;
    font-size: 22px;
}
.imagem{
    width: 200px;
    height: 200px;
    transition: all 1s;
    cursor: pointer;
}
.imagem:hover{
    -webkit-filter: drop-shadow(5px 25px 5px black);
    filter: drop-shadow(5px 25px 5px black);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}
#titulo{
    font-size: 25px;
    color: rgb(243, 243, 186);
}
